.card {
    padding: 16px;
    border-radius: 20px;
    /* box-shadow: var(--shadow-color); */
    transition: all 500ms ease-in-out;
}
@media (min-width: 768px) {
    .card {
        width: 750px;
        margin: 0 auto;
    }
}
@media (min-width: 1080px) {
    .card {
        width: 1000px;
        padding: 0;
        margin: 0 auto;
    }
}