.pagination {
    display: flex;
    gap: 32px;
    justify-content: center;
    padding: 40px 0;
}

.btn {
    padding: 5px 10px;
    font-size: calc(1vw + 10px);
    color: var(--text-color);
    background-color: transparent;
    border: none;
    border-radius: 10px;
}

.active-btn {
    border: 3px solid var(--text-color);
}