:root {
    --background-color: hsl(0, 0%, 98%);
    --component-bgcolor: hsl(0, 0%, 100%);
    --text-color: hsl(200, 15%, 8%);
    --shadow-color: 0 0 15px -5px hsla(0, 0%, 0%, .5);
  }
  /* 0 5px 10px 0 hsla(0, 0%, 10%, 0.1) */
  
.dark {
    --background-color: hsl(207, 26%, 17%);
    --component-bgcolor: hsl(209, 23%, 22%);
    --text-color: hsl(0, 0%, 100%);
    --shadow-color: 0 0 15px -5px hsla(0, 0%, 0%, 1);
}
.wrapper {
    min-height: 100vh;
    background-color: var(--background-color);
    transition: all 500ms ease-in-out;
}