.filterList-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: initial;
}
.filterList-wrapper > select, .filterList-wrapper > input {
    padding: .7rem 1rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    color: var(--text-color);
    border: none;
    border-radius: 10px;
    background-color: var(--component-bgcolor);
    border-radius: 15px;
    box-shadow: var(--shadow-color);
    outline: none;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}
.filterList-wrapper > select > option {
    margin: .5rem 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}
@media (min-width: 1200px) {
    .filterList-wrapper {
        justify-content: flex-end;
        gap: 1rem;
    }
}