.header {
<<<<<<< .merge_file_uEDcUX
=======
    background-color: var(--component-bgcolor);
    box-shadow: 0 -3px 10px 0 hsl(0, 0%, 10%);
    transition: all 500ms ease-in-out;
}
.parent {
>>>>>>> .merge_file_99s3Hz
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem; 
    color: var(--text-color);
<<<<<<< .merge_file_uEDcUX
    background-color: var(--component-bgcolor);
    box-shadow: var(--shadow-color);
}
.header h1 {font-size: calc(1vw + 1rem);}
.header button {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    border: none;
}
.header img {
    width: calc(1vw + 1.5rem);
=======
    transition: color 500ms ease-in-out;
}
.parent h1 {
    margin: 0;
    font-size: calc(1vw + 1rem);
}
.parent button {
    padding: 0;
    background-color: transparent;
    border: none;
}
.parent img {
    width: calc(1.5vw + 1rem);
>>>>>>> .merge_file_99s3Hz
    cursor: pointer;
}
@media (min-width: 1200px) {
    .header {
        padding: 2rem 6rem;
    }
}