.list-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 400px;
  justify-content: center;
  gap: 4rem;
  min-height: 60vh;
}
.no-result-para {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0 1rem;
  font-weight: 600;
  font-size: 2rem;
  color: var(--text-color);
  transition-property: color;
  transition: 500ms ease-in-out;
  transform: translate(-50%, -50%);
}
@media (min-width: 715px) {
  .list-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
