.list-item {
  min-height: 490px;
  background-color: var(--component-bgcolor);
  border-radius: 10px;
  box-shadow: var(--shadow-color);
  transition: all 500ms ease-in-out;
}
.list-item-img {
  box-shadow: var(--shadow-color);
  line-height: 0;
  transition: all 500ms ease-in-out;
}
.list-item-img > img {
  width: 100%;
  height: calc(1vh + 13rem);
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.list-item-text {
  padding: 2rem 1.5rem;
  color: var(--text-color);
  transition: all 500ms ease-in-out;
}
.list-item-text h3 {
  font-size: calc(1vw + 0.8rem);
}
.list-item-text ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  font-size: calc(1vw + 0.5rem);
  line-height: 1.7;
}
.bold {
  margin-right: 0.5rem;
  font-weight: 600;
}
