.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px;
  margin-bottom: 16px;
  color: var(--text-color);
  background-color: var(--component-bgcolor);
  box-shadow: var(--shadow-color);
  transition: all 500ms ease-in-out;
}

.header h1 {
  font-size: calc(2vw + 13px);
}
.header > button {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  transition: 300ms ease-in-out;
}
.header > button:hover {
  transform: scale(1.25, 1.25);
  transition: 300ms ease-in-out;
}
.header > button > img {
  width: calc(2vw + 13px);
  cursor: pointer;
}
